#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "hotglue"
name = "Hotglue"
description.en = "Content manipulation system for building websites"
description.fr = "Système de manipulation de contenu pour la création de sites Web"

version = "1.04~ynh3"

maintainers = ["k0a1a"]

[upstream]
license = "GPL-3.0"
website = "https://hotglue.me"
demo = "https://hotglue.me/demo/"
admindoc = "https://discourse.superglue.it/c/hotglue"
userdoc = "https://discourse.superglue.it/c/hotglue"
code = "https://github.com/k0a1a/hotglue2"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = false

disk = "130M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/hotglue"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]
    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/k0a1a/hotglue2/archive/refs/tags/release.tar.gz"
    sha256 = "48fe7d5c6075a9729da038ad46e154a86a6c7f644306d88db761413cbbeeae4d"

    [resources.system_user]
    
    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "php8.2-gd"
